# Assigning predictors & target variable

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
mpm=pd.read_csv(r"C:\Users\JEEVAN\Downloads\mobile_price.csv")
mpm.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [5]:
mpm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [7]:
x=mpm.iloc[:,:-1]  # predictors
y=mpm.iloc[:,-1]

In [8]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [9]:
# splitting the data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=25,test_size=0.25)

In [10]:
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

1500
500
1500
500

In [24]:
np.sqrt(2000)

44.721359549995796

In [12]:
# Building Model @ n_neighbors =  

from sklearn.neighbors import KNeighborsClassifier

In [14]:
knn=KNeighborsClassifier(n_neighbors=13)
print(knn)

KNeighborsClassifier(n_neighbors=13)

In [15]:
mpm_knn=knn.fit(x_train,y_train)
print(mpm_knn)

KNeighborsClassifier(n_neighbors=13)

In [16]:
# Applying on Test data for prediction

y_pred=mpm_knn.predict(x_test)
print(y_pred)

[1 1 3 0 1 1 0 2 0 3 1 0 1 1 1 2 1 2 3 0 1 1 2 0 2 3 1 0 3 0 3 1 2 0 2 3 0
 1 2 0 1 2 3 2 3 1 0 3 1 2 3 0 0 3 0 3 1 0 0 0 1 2 2 0 3 1 1 0 1 2 0 1 0 3
 3 1 3 2 1 3 0 3 0 0 0 0 2 2 2 3 3 2 3 3 2 3 1 2 2 2 1 2 1 2 2 3 2 3 2 0 1
 1 1 1 1 1 0 3 2 1 3 2 2 2 2 2 2 1 3 2 1 2 0 2 3 1 1 1 2 0 2 3 2 3 1 1 1 0
 2 1 3 2 0 2 1 1 0 2 1 2 3 1 1 0 2 0 2 2 2 0 0 2 2 2 2 2 3 1 0 3 0 0 1 1 0
 2 2 2 1 3 3 2 2 2 1 1 0 3 3 2 3 0 0 1 0 0 2 3 3 1 2 1 0 2 2 1 1 1 1 0 1 0
 1 0 0 3 3 1 1 3 2 0 3 3 2 3 1 3 1 3 1 0 1 2 0 1 3 3 2 0 0 0 3 2 2 3 2 3 1
 2 1 3 3 0 3 1 0 2 0 1 1 0 1 2 0 2 2 2 1 3 0 0 0 1 2 3 3 3 1 0 3 1 0 1 0 0
 0 2 1 1 2 3 2 2 0 0 0 3 1 0 2 2 3 3 1 0 3 0 0 0 1 3 2 0 1 2 3 3 1 2 2 1 2
 1 2 0 0 0 1 1 3 2 0 3 2 0 3 1 3 2 1 1 2 1 0 3 2 1 2 1 0 1 3 2 3 1 2 1 2 0
 0 3 2 1 1 2 1 2 1 2 0 3 0 2 3 0 2 0 3 1 1 0 0 1 3 2 3 3 2 2 2 1 2 2 3 0 0
 2 1 1 1 1 1 2 3 2 3 3 3 1 2 3 3 1 2 1 3 2 2 3 3 3 1 3 1 0 3 3 0 2 0 1 0 0
 0 0 0 0 1 3 0 0 3 0 0 3 3 2 0 3 2 1 2 3 1 0 0 3 3 0 0 2 3 0 2 3 3 1 0 3 0
 1 1 0 3 2 0 0 3 1 1 2 2 0 1 1 0 3 0 3]

In [17]:
# Prediction Score

mpm_knn.score(x_test,y_test)

0.948

In [18]:
# Accuracy Score

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.948

In [19]:
# Classification Matrix
pd.crosstab(y_test,y_pred)

col_0          0    1    2    3
price_range
0            121    4    0    0
1              3  119    1    0
2              0    8  122    4
3              0    0    6  112

In [20]:
# Accuracy Score
mpm_knn.score(x_test,y_test)

0.948

In [21]:
# Classification Matrix

pd.crosstab(y_test,y_pred,margins=True,rownames=['Actual'],colnames=['Predict'])

Predict    0    1    2    3  All
Actual
0        121    4    0    0  125
1          3  119    1    0  123
2          0    8  122    4  134
3          0    0    6  112  118
All      124  131  129  116  500

In [22]:
# Classification Report
from sklearn.metrics import classification_report 
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97       125
           1       0.91      0.97      0.94       123
           2       0.95      0.91      0.93       134
           3       0.97      0.95      0.96       118

    accuracy                           0.95       500
   macro avg       0.95      0.95      0.95       500
weighted avg       0.95      0.95      0.95       500